/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*GENERAL*/
.my-row {
    max-width: 1200px;
    margin: auto;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.my-row .column-1 {
    width: 60%;
    height: 500px;
}

.my-row .column-2 {
    width: 40%;
    height: 500px;
}


/*HEADER*/
header {
    font-size: 25px;
}

/*HEADER-TOP*/
.header-top {
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 15px;
}

/*HEADER-BOTTOM*/
.header-bottom {
    padding: 50px 0;;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bottom > div {
    width: 900px;
    height: 400px;
}

/*NAV-BAR HEADER*/

.logo, .login {
    width: 20%;
    padding: 10px;
}

.login {
    text-align: right;
}

.links {
    width: 60%;
    text-align: center;
    padding: 10px;
}

.links a {
    text-decoration: none;
    color: black;
}

/*BIG-COLUMN*/
.big-column {
    width: 100%;
    height: 1000px;
}

/*FOOTER*/

footer{
    background-color: #23272A;
}

/*FOOTER-TOP*/
.footer-top {
    padding: 10px 0 30px 0;
}

.row-footer {
    max-width: 1200px;
    margin: auto;
    height: 600px;
    display: flex;
}

.first-column {
    width: 30%;
}

.second-column {
    display: flex;
    width: 70%
}

.part-1, .part-2, .part-3, .part-4 {
    width: 25%;
}

/*FOOTER-BOTTOM*/
.footer-bottom {
    max-width: 1200px;
    margin: auto;
    height: 100px;
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
    align-items: center;
}

.logo-footer {
    padding: 5px;
}

.footer-bottom button {
    padding: 5px;
}

/*DEBUG*/
.debug header  {
    background-color: #ADD8E6;
}

.debug header .logo, .links, .login {
    background-color: #DAA520;
    border: 3px dashed black;
}

.debug .header-bottom {
    background-color: #00008B;
}

.debug .header-bottom div {
    border: 3px dashed black;
    background-color: #EE82EE;
}

.debug .my-row .column-1,  .row-3 .column-1{
    background-color: #1E90FF;
    border: 3px dashed black;
}

.debug .my-row .column-2, .row-3 .column-2 {
    background-color: #FFC0CB;
    border: 3px dashed black;
}

.debug .row-2 .column-1 {
    background-color: #FFC0CB;
    border: 3px dashed black;
}

.debug .row-2 .column-2 {
    background-color: #1E90FF;
    border: 3px dashed black;
}

.debug section:nth-of-type(2n){
    background-color: #D3D3D3;
}
.debug .big-column {
    background-color: #228B22;
    border: 3px dashed black;
}

.debug .first-column {
    border: 3px dashed black;
    background-color: #F08080;
}

.debug .row-footer :not(.first-column) {
    background-color: #20B2AA;
}

.debug .second-column {
    border: 3px dashed black;
}

.debug .second-column div {
    border: 3px dashed white;
}

.debug .footer-bottom {
    background-color: #67C7A7;
}

.debug .logo-footer, .debug button {
    background-color: #CD949D;
    border: 3px dashed black;
}

