/*RESET*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*HEADER*/

* {
    font-size: 25px;
}

.header-top {
    max-width: 1200px;
    margin: auto;
    display: flex;
    padding: 15px;
}

.header-bottom {
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-bottom > div {
    width: 900px;
    height: 400px;
}

/*MAIN*/

/*FIRST ROW*/
.row-1 {
    max-width: 1200px;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-1 .column-1 {
    width: 60%;
    height: 500px;
}

.row-1 .column-2 {
    width: 40%;
    height: 500px;
}

/*SECOND ROW*/
.row-2 {
    max-width: 1200px;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-2 .column-1 {
    width: 40%;
    height: 500px;
}

.row-2 .column-2 {
    width: 60%;
    height: 500px;
}

/*THIRD ROW*/
.row-3 {
    max-width: 1200px;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.row-3 .column-1 {
    width: 40%;
    height: 500px;
}

.row-3 .column-2 {
    width: 60%;
    height: 500px;
}

/*FOURTH ROW*/
.row-4 {
    max-width: 1200px;
    margin: auto;
    height: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.big-column {
    width: 100%;
    height: 1000px;
}

/*FOOTER*/
/*FIRST ROW*/
.row-1f {
    max-width: 1200px;
    margin: auto;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}




/*CONTENT*/

.logo, .login {
    width: 20%;
    padding: 10px;
}

.links {
    width: 60%;
    text-align: center;
    padding: 10px;
}

.links a {
    text-decoration: none;
    color: black;
}



/*DEBUG*/
.debug header  {
    background-color: #ADD8E6;
}

.debug header .logo, .links, .login {
    background-color: #DAA520;
    border: 3px dashed black;
}

.debug .header-bottom {
    background-color: #00008B;
}

.debug .header-bottom div {
    border: 3px dashed black;
    background-color: #EE82EE;
}

.debug .row-1 .column-1,  .row-3 .column-1{
    background-color: #1E90FF;
    border: 3px dashed black;
}

.debug .row-1 .column-2, .row-3 .column-2 {
    background-color: #FFC0CB;
    border: 3px dashed black;
}

.debug .row-2 .column-1 {
    background-color: #FFC0CB;
    border: 3px dashed black;
}

.debug .row-2 .column-2 {
    background-color: #1E90FF;
    border: 3px dashed black;
}

.debug section:nth-of-type(2n){
    background-color: #D3D3D3;
}
.debug .big-column {
    background-color: #228B22;
    border: 3px dashed black;
}

.debug .footer-top {
    background-color: #23272A;
}

.debug .row-1f {
    border: 3px dashed black;
}